<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{$title}</title>
	<meta name="keywords" content="php,framework,thin,slim,small,light,fast,easy" />
	<meta name="description" content="ThinPHP is a lightweight, flexible PHP5 MVC framework. It is fast, simple and highly extensible framework." />
	<link rel="Shortcut Icon" href="data:image/gif;base64,R0lGODlhEAAQALMAAPwCNPz+/ACe/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAQABAAAwQsMMhJqwQ4AM03v+AmipOHkWMZdqDlvvB1zvQZ37j9jd7umzKTTfdpkXDIWAQAOw==" type="image/gif" />
	
	<script src="/lib/thinphp_util/minify_js.php?list=minify_js_files&v=1010" type="text/javascript"></script>	
	<link href="/lib/thinphp_util/minify_css.php?list=minify_css_files&v=1010" rel="stylesheet" type="text/css" media="all" />
	<!-- if you don't want to use minify, compress & cache js,css... remove above code & use below:
			<script src="/web/js/jquery/jquery.min.js" type="text/javascript"></script>
			<script src="/web/js/jquery/jquery.cookie.min.js" type="text/javascript"></script>
			<script src="/web/js/thinphp/thinphp.js" type="text/javascript"></script>
			<link href="/web/css/style.css" rel="stylesheet" type="text/css" />
			<link href="/web/css/style_ext.css" rel="stylesheet" type="text/css" />-->
</head>
<body>

<div id="outer">
	<div id="header">
		<h1><a href="/home">Thin PHP</a></h1>
		<h2>Framework</h2>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><a href="/home" accesskey="1" title="">Home</a></li>
			<li><a href="/products/our-products" accesskey="1" title="">Products</a></li>
			<li><a href="/blog" accesskey="2" title="">Blog Test</a></li>
			<li><a href="/editable-page" accesskey="2" title="">Editable Page</a></li>
			<li><a href="/wiki-test" accesskey="2" title="">Wiki Test</a></li>
			<li><a href="/contact-us" accesskey="5" title="">Contact Us</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="primaryContentContainer">
			<div id="primaryContent">				
				{$content}
				{include file="$inc_content"}
			</div>
		</div>
		<div id="secondaryContent">
			<p>
			<a href="#" onclick="$.cookie('cke_view', '', { path: '/', expires: 7 }); location.reload(true)">{$lang.english_n}</a> -
			<a href="#" onclick="$.cookie('cke_view', 'ja_jp', { path: '/', expires: 7 }); location.reload(true)">{$lang.japanese_n}</a>
			<p/>
			<h3>Sign in</h3>
			<p>
				{if empty($hide_signin)}
					{get_url url="/sign-in"}
				{/if}
			</p>
			<p>
				New User? <a href="/register">Register</a> (Demo)
			</p>
			<p>
				{get_url url="/twitter" param="thinphp"}
			</p>
			<h3>Ipsum Dolorem</h3>
			<ul>
				<li><a href="#">Sagittis Bibendum Erat</a></li>
				<li><a href="#">Malesuada Turpis</a></li>
				<li><a href="#">Quis Gravida Massa</a></li>
				<li><a href="#">Inerat Viverra Ornare</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer">
		<p>Powered by <a href="http://www.thinphp.com">Thin PHP Framework</a><br/><a href="/terms">Terms and Conditions</a></p>
	</div>
</div>
	{include file="$inc_tracking_code"}
</body>
</html>
