<h3>User List</h3>
{if !empty($users)}
<table>
	<tr>
		<th>Name</th>
		<th>Username</th>
		<th>Email</th>
		<th>Action</th>
	</tr>
{foreach item=user from=$users}
	<tr class="{cycle values="rowA,rowB"}">
		<td>{$user.firstName} {$user.lastName}</td>
		<td>{$user.username}</td>
		<td>{$user.email}</td>
		<td><a href="/user-list/remove/{$user.userId}">Remove</a></td>
	</tr>
{/foreach}
</table>
{/if}
<p><a href="/user-list/add">Add a Test User</a> (random data) - or <a href="/register">Register</a></p>
<p>Total {$totalUsers} user(s)</p>