				<h2>&#12424;&#12358;&#12371;&#12381;ThinPHPFramework&#12398;&#12487;&#12514;&#65281;</h2>
				<p>&#20197;&#19979;&#12395;&#31169;&#12398;&#35352;&#20107;&#12391;&#12377;&#65306;</p>
				<ul>
					<li><a href="article/p/1/My-Article-One">My article 1</a></li>
					<li><a href="article/p/2/My-Article-Two">My article 2</a></li>
				</ul>
				<p>{$text_today} 日本語（日本语ほん？[nihoŋɡo]（聴く））は、日本の130000000[4]以上の人々によって、日本の移民コミュニティで話されている言語です。それは（Japonicの分類を参照してください）いずれも全会一致の承認を得ている他の言語で提案された関係の数がJaponic（または日本琉球）言語ファミリーのメンバーです。[5]日本人は膠着言語であるモーラは、言語をタイムアウトしました。これは、辞書的に重要なピッチアクセント体系は、比較的小さな音の在庫を持っています。これは、動詞とスピーカーは、リスナーの相対的な状態を示すために特定の語彙と、日本社会の性質を反映して敬語の複雑なシステムによって区別され、人が会話に記載されている。日本語の母音は、純粋されます。 （ひらがなや平仮名）を変更漢字、ひらがなの構成漢字漢字（汉字）と呼ばれる、</p>
				<p>2つの音節を基調とするスクリプトがなとカタカナ（カタカナや片仮名を）：日本語は3つのスクリプトの組み合わせで書かれています。ラテンアルファベットは、ローマ字（ローマ字）、また多くの場合、会社名、ロゴ、広告、特に現代の日本で使用されているとすると、コンピュータに日本語のテキストを入力します。アラビア数字は一般的に、数値の使用されている伝統的な中国と日本の数字は（日本の数字を参照してください）また、一般的です。</p>
				<p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa:</p>
				<h3>Example Unordered List</h3>
				<ul>
					<li>Suspendisse quis gravida massa felis.</li>
					<li>Vivamus sagittis bibendum erat.</li>
					<li>Nullam et orci in erat viverra ornare.</li>					
				</ul>
				<h3>Example Blockquote</h3>
				<blockquote>
						<p>Aliquam gravida massa eu arcu. Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada turpis nec ante. Suspendisse quis felis. Suspendisse potenti. Nullam et orci in erat viverra ornare. Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus.</p>
				</blockquote>
				<h3>Example Table</h3>
				<table>
					<tr>
						<th>Date</th>
						<th>Title</th>
						<th>Description</th>
					</tr>
					<tr class="rowA">
						<td>December 1, 2006</td>
						<td>Sed vestibulum blandit</td>
						<td>Vivamus sollicitudin dolor sit amet eros. Vivamus ligula. Sed pretium turpis eu ipsum. Sed rutrum sapien id arcu.</td>
					</tr>
					<tr class="rowB">
						<td>November 28, 2006</td>
						<td>Augue non nibh</td>
						<td>Nam adipiscing urna ac consequat dignissim massa est sodales sem.</td>
					</tr>
					<tr class="rowA">
						<td>November 23, 2006</td>
						<td>Fusce ut diam bibendum</td>
						<td>Vestibulum quis urn nulla facilis nam malesuada cursus turpis.</td>
					</tr>
					<tr class="rowB">
						<td>November 21, 2006</td>
						<td>Maecenas et ipsum</td>
						<td>Vivamus mi lectus gravida scelerisque, ultrices vitae cursus in neque.</td>
					</tr>
				</table>