<h3>{$title}</h3>

{$content}

<br/>&nbsp;<br/>
<a href="/blog-admin">Go Back</a>

<div id="blogeditForm">
	<form method="post">
		<input type="hidden" name="postId" value="{$postId}">
		<input type="hidden" name="form" value="edit">

		<span>Title</span>
		<input type="text" name="title" size="60" value="{$title}">
		<p/>
		<textarea name="content">{$content}</textarea>
		<br/>
		<input type="submit" id="blogeditSubmit" value="Update">
	</form>
</div>

<script type="text/javascript">	
(function($) {
	$(document).ready(function() {
		TPF.appendHead({
			css : ['/app/ext/blog/css/style.css'],
			js  : [''],
			jsFilesLoaded : function() {
			}
		});
	});
})(jQuery);
</script>