<div id="commentForm">
	<form id="cmtForm" action="/blog" method="post">
		<input type="hidden" name="postId" value="{$postId}">
		<input type="hidden" name="form" value="comment">
		
		<div>
			<div style="float: left">
				<span>Name:</span>
				<input type="text" name="name">
			</div>
			<div style="float: left">
				<span>Email:</span>
				<input type="text" name="email">
			</div>			
		</div>
		<div style="clear: both"></div>
		<span>Your comment:</span>
		<textarea name="content"></textarea>
		<span></span>
		<input id="commentSubmit" name="commentSubmit" type="submit" value=" Post Comment ">
	</form>
</div>

<script type="text/javascript">	
(function($) {
	$(document).ready(function() {
		TPF.appendHead({
			css : ['/app/ext/blog/css/style.css'],
			js  : [''],
			jsFilesLoaded : function() {
			}
		});
	});
})(jQuery);
</script>