Terms and Conditions<p/>
<p/>
1. Acceptance of Terms of Use<p/>
This website service is provided free of charge to registered users (each, a "User") under these Terms of Use. BY COMPLETING ANY FORMS ON THIS WEBSITE AND CLICKING THE "SUBMIT" BUTTON, YOU ARE INDICATING YOUR AGREEMENT TO BE BOUND BY THESE TERMS OF USE.
<p/>
2. Submitted Information<p/>
This website owners make significant efforts to protect the privacy of its users. Our Privacy Policy discloses our policies with regard to the protection and disclosure of user information. We may disclose an individual User's name, address, email address or telephone number without such User's prior consent and without any liability to User or any third party, to the extent necessary to or appropriate to i) comply with applicable laws or in legal proceedings where such information is relevant; ii) protect and defend the rights or property of us or enforce or further the application or intent of the terms of this Agreement; or iii) act to protect the personal safety of Users or the public iv) for other reasons that we may disclose to Users from time to time.
<p/>
We reserve the right to terminate any User's account if we learn that such User has provided us false or misleading registration information.
<p/>
3. Modifications of these Terms of Use<p/>
This website owners may modify these Terms of Use from time to time in their sole discretion.
<p/>
4. Disclaimer of Warranties<p/>
USER EXPRESSLY AGREES THAT USE OF THIS WEBSITE IS AT USER'S SOLE RISK. THIS WEBSITE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.
<p/>
THIS WEBSITE OWNERS EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.
<p/>
USER UNDERSTANDS AND AGREES THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THIS WEBSITE IS AT USER'S OWN DISCRETION AND RISK AND THAT USER WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO USER'S COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA.
<p/>
THIS WEBSITE OWNERS DO NOT MAKE ANY WARRANTY REGARDING ANY GOODS OR SERVICES PURCHASED OR OBTAINED THROUGH THIS WEBSITE OR ANY TRANSACTIONS ENTERED INTO THROUGH THIS WEBSITE.
<p/>
5. Limitation of Liability<p/>
THIS WEBSITE OWNERS SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES, RESULTING FROM THE USE OR THE INABILITY TO USE THIS WEBSITE OR FOR THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES OR RESULTING FROM ANY GOODS OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH THIS WEBSITE OR RESULTING FROM UNAUTHORIZED ACCESS TO OR ALTERATION OF USER'S TRANSMISSIONS OR DATA, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, USE, DATA OR OTHER INTANGIBLE, EVEN IF WE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
